<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{this.pool.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{this.language.miscellanousText[14]}} {{this.pool.id}}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <!--matches for this pool-->
        <mat-list>
            <h2>{{this.language.matchesText[0]}}</h2>
            <app-selectable-match *ngFor="let m of this.matchesForThisPool" [match]="m">
            </app-selectable-match>
        </mat-list>

    </mat-card-content>
</mat-card>