h3 {
    margin: 1%;
}

.chooseWinner {
    display  : flex;
    flex-wrap: wrap;
    margin   : 1%;
}

.item {
    flex-flow: wrap;
    margin   : 1%;
}

mat-card {
    margin: 3% 1%;
}

.winnerAndSecond{
    margin: 1% 3%;
}