mat-card {
    margin: 3%;
}

mat-card-title {
    font-size: large;
}

form {
    margin : 1%;
    padding: 2%;
}

mat-form-field {
    margin: 2%;
}

h2 {
    margin: 2% 0px;
}

h3 {
    margin     : 1% 0px;
    font-weight: bold;
}

.deleteTournamentBtn {
    float: right;
}

.deleteItemBtn {
    width  : fit-content;
    margin : 1%;
    padding: 1% 2%;
}

.formBlock {
    border-bottom: 1px solid darkgray;
    padding      : 1%;
}

.participantItem {
    display      : flex;
    flex-wrap    : wrap;
    width        : 100%;
    margin       : 1%;
    border-bottom: 1px solid lightgray;
}

.dateWithLocationItem {
    min-width      : 20vw;
    width          : 100%;
    display        : inline-flex;
    margin         : 1%;
    justify-content: space-between;
}

.deleteIcon mat-icon {
    cursor: pointer;
}