<div *ngIf="!isEdit;else editParticipant" class="horisontally">
    <p>{{this.participant.firstname}}</p>
    <p>{{this.participant.lastname}}</p>
    <p>{{this.participant.rank}}</p>
    <p>{{this.language.participantsText[11]}} {{this.participant.wins}}</p>
    <p>{{this.language.participantsText[12]}} {{this.participant.losses}}</p>
    <button mat-stroked-button class="editBtn" color="accent"
        (click)="isEdit=true;">{{this.language.miscellanousText[0]}}</button>
</div>
<ng-template #editParticipant>
    <div class="editableParticipant">
        <form [formGroup]="participantForm" (change)="getParticipantValues()">
            <h3>{{this.language.participantsText[13]}}</h3>
            <mat-form-field>
                <mat-label>{{this.language.participantsText[2]}}</mat-label>
                <input matInput formControlName="firstname" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{this.language.participantsText[5]}}</mat-label>
                <input matInput formControlName="lastname" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{this.language.participantsText[11]}}</mat-label>
                <input matInput formControlName="wins" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{this.language.participantsText[12]}}</mat-label>
                <input matInput formControlName="losses" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{this.language.participantsText[9]}}</mat-label>
                <input matInput formControlName="rank" />
            </mat-form-field>

            <div class="buttons">
                <button mat-stroked-button color="primary" [disabled]="!canSubmit()"
                    (click)="saveChanges()">{{this.language.miscellanousText[1]}}</button>
                <button mat-stroked-button color="accent"
                    (click)="cancelChanges()">{{this.language.miscellanousText[2]}}</button>
                <!--delete button-->
                <button mat-stroked-button color="warn" (click)="deleteThisParticipant()">
                    {{this.language.miscellanousText[4]}}
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </form>
    </div>
</ng-template>