.editableParticipant {
    display         : inline-flex;
    justify-content : space-between;
    margin          : 2%;
    padding         : 3%;
    background-color: rgba(0, 0, 0, .05);
}

mat-form-field {
    margin: 4%;
}

.horisontally {
    display        : flex;
    flex-wrap      : wrap;
    width          : 100%;
    margin         : 1%;
}

.horisontally p {
    margin: 1%;
}

button {
    margin: 2%;
}

.editBtn {
    margin : 2%;
    padding: 2% 3%;
    width  : fit-content;
}