<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a class="largeLink" mat-button routerLink="/home">{{this.language.miscellanousText[8]}}</a>
        <span class="spacer"></span>
        <div>
            <a *ngIf="!loggedIn()" mat-button routerLink="/login">
                {{this.language.authorisationText[2]}}
                <mat-icon class="icon">login</mat-icon>
            </a>
            <button *ngIf="loggedIn()" mat-button color="warn" (click)="logout()">
                {{this.language.authorisationText[3]}}
                <mat-icon class="icon">login</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>