<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{this.language.registerText[0]}}
        </mat-card-title>
        <mat-card-subtitle>
            {{this.language.registerText[5]}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="registerForm">
            <mat-form-field appearance="fill">
                <!--email-->
                <mat-label>{{this.language.authorisationText[9]}}</mat-label>
                <input matInput type="text" placeholder="{{this.language.authorisationText[10]}}"
                    formControlName="email" />
                <mat-error *ngFor="let validation of this.val.validation_messages.email">
                    <mat-error class="error-message"
                        *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                        {{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>

            <!--user role-->
            <mat-form-field appearance="fill">
                <mat-label>{{this.language.registerText[1]}}</mat-label>
                <mat-select [(value)]="userRole">
                    <mat-option *ngFor="let role of this.roles" [value]="role">
                        {{role}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <!--password-->
                <mat-label>{{this.language.authorisationText[14]}}</mat-label>
                <input matInput type="password" placeholder="{{this.language.authorisationText[6]}}"
                    formControlName="password" />
                <mat-error *ngFor="let validation of this.val.validation_messages.password">
                    <mat-error class="error-message"
                        *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                        {{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </form>
        <div class="error" *ngIf="this.authError">
            {{this.authError}}
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary"
            [disabled]="this.registerForm.invalid || this.userRole==null || this.userRole==''" (click)="register()">
            {{this.language.authorisationText[8]}}
        </button>
        <a mat-raised-button color="warn" routerLink="/dashboard">
            {{this.language.miscellanousText[2]}}
        </a>

    </mat-card-actions>
</mat-card>