<h1>Login in process, it doesn't actually work yet!</h1>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{this.language.authorisationText[0]}}
        </mat-card-title>
        <mat-card-subtitle>
            {{this.language.authorisationText[1]}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm">
            <mat-form-field appearance="fill">
                <!--email-->
                <mat-label>{{this.language.authorisationText[9]}}</mat-label>
                <input matInput type="text" placeholder="{{this.language.authorisationText[10]}}"
                    formControlName="username" />
                    <mat-error *ngFor="let validation of this.validation.validation_messages.email">
                        <mat-error class="error-message"
                            *ngIf="loginForm.get('username').hasError(validation.type) && (loginForm.get('username').dirty || loginForm.get('username').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <!--password-->
                <mat-label>{{this.language.authorisationText[6]}}</mat-label>
                <input matInput type="password" placeholder="{{this.language.authorisationText[6]}}"
                    formControlName="password" />
                    <mat-error *ngFor="let validation of this.validation.validation_messages.password">
                        <mat-error class="error-message"
                            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                            {{validation.message}}</mat-error>
                    </mat-error>
            </mat-form-field>
        </form>
        <a mat-button class="link" color="accent" routerLink="/forgot-password"> {{this.language.authorisationText[7]}}</a>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="this.loginForm.invalid" (click)="login()">
            {{this.language.authorisationText[2]}}
        </button>
        <a mat-raised-button color="warn" routerLink="/home">
            {{this.language.miscellanousText[2]}}
        </a>

    </mat-card-actions>
</mat-card>