.scores {
    align-content: space-between;
    margin       : 2%;
    display      : flex;
    flex-wrap    : wrap;
}

.playerScore {
    margin : 2%;
    border : 3px solid lightgrey;
    padding: 3%;
}

.scorePoints {
    margin   : 1%;
    font-size: medium;
}

.pointButtonRow {
    display: block;
}

.section {
    padding      : 1%;
    border-bottom: 1px solid lightgrey;
}

.pointButtonRow button {
    min-height   : 50px;
    margin       : 4%px;
    align-content: space-between;
}

mat-card-actions button {
    min-height: 70px;
}

.endBtn {
    width: 100%;
}

.selectWinner {
    margin: 2%px;
}

.selectWinner mat-list-item {
    margin: 2%px;
}

.selectWinner h3 {
    font-size  : medium;
    font-weight: bold;
}