mat-form-field {
    margin: 20px;
}

mat-card {
    margin: 20px;
}

.addedMatches {
    padding: 10px;
    margin : 10px;
    border : solid 1px lightgray;
}

.horisontally {
    display        : inline-flex;
    width          : 100%;
    justify-content: space-between;
    margin         : 10px;
}

button {
    margin          : 5px 20px;
    background-color: white;
}

mat-expansion-panel,
mat-accordion {
    width    : 100%;
    min-width: 60vw;
    margin   : 10px;
}

.editBtn {
    margin: 20px;
}